<!DOCTYPE html>
<html>
<head>
    <title>OAuth2 Application</title>
</head>
<body>
    <h1>OAuth2 Application</h1>
    <form action="/submit" method="post">
        <label for="ClientName">Your Appication_Name:</label><br>
        <input type="text" id="ClientName" name="clientname"><br><br>

        <label for="domain">Your domain:</label><br>
        <input type="text" id="domain" name="domain"><br><br>

        <label for="redirect_url">Redirect URL:</label><br>
        <input type="text" id="redirect_url" name="redirect_url"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>